html {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  font-size: 16px;
}
body {
  margin: 0;
  color: #555;
  background: #fff;
  -webkit-text-size-adjust: none;
  line-height: 1;
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}
html,body { overscroll-behavior-y: none; }

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
}
body,
input,
select,
textarea,
button,
pre {
  font-family: "Poppins", sans-serif;
}
article,
aside,
hgroup,
header,
footer,
figure,
figcaption,
nav,
section,
time,
mark,
canvas,
video,
audio,
details,
summary {
  display: block;
}
ul {
  list-style: none;
}
address {
  font-style: normal;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: transparent;
  text-decoration: none;
  color: inherit;
}
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
ins {
  color: #555;
}
em {
  font-style: normal;
}
mark {
  background-color: #ff9;
  font-style: italic;
  color: #555;
  font-weight: 700;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
}
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
}
textarea {
  resize: none;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="email"],
input[type="time"],
input[type="month"],
input[type="date"],
input[type="url"],
input[type="image"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
}
input[type="hidden"],
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
input[type="password"] {
  font-family: Verdana !important;
}
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="button"],
input[type="image"],
input[type="file"],
input[type="submit"],
button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
input:disabled,
button:disabled {
  cursor: default;
}
input[type="date"] {
  background: transparent;
}
input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
::-webkit-input-placeholder {
  color: #646467;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
::-moz-placeholder {
  color: #646467;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
:-moz-placeholder {
  color: #646467;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: #646467;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
::placeholder {
  color: #646467;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
select:invalid {
  color: #646467 !important;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
}
input[type="date"] { position: relative; }
input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
    color: transparent;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  color: transparent;
  background: transparent;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  z-index: 1;
}
::-webkit-details-marker { display:none; }