$headerW: 118px;
$headerM: 62px;
$space: 20px;

//Notch Calc
@mixin notchcalc($property, $direction, $value) {
    #{$property}: $value;
    @if $direction == left {
        #{$property}: calc(constant(safe-area-inset-left) + #{$value});
        #{$property}: calc(env(safe-area-inset-left) + #{$value});
    }
    @if $direction == right {
        #{$property}: calc(constant(safe-area-inset-right) + #{$value});
        #{$property}: calc(env(safe-area-inset-right) + #{$value});
    }
    @if $direction == top {
        #{$property}: calc(constant(safe-area-inset-top) + #{$value});
        #{$property}: calc(env(safe-area-inset-top) + #{$value});
    }
    @if $direction == bottom {
        #{$property}: calc(constant(safe-area-inset-bottom) + #{$value});
        #{$property}: calc(env(safe-area-inset-bottom) + #{$value});
    }
}

//100vh Calc
@mixin vhcalc($property, $value) {
    #{$property}: calc(100vh #{$value});
    #{$property}: calc(var(--vh, 1vh) * 100 #{$value});
}

//Prefix
@mixin prefix($property, $value) {
    -moz-#{$property}: $value;
    -webkit-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

//Hidden text
@mixin hiddentxt {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    font-size: 0.5rem;
}
  
//Hidden element
@mixin hidden {
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
.hidden { @include hidden; }

//Float clear
@mixin clearfix {
    &::after {
        content: "";
        display: block;
        height: 0;
        clear: both;
    }
}

//Absolute display
@mixin absolutecenter {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

//Flex display
@mixin displayflex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
@mixin displayinlineflex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}
@mixin flexdirection($direction) {
    @if $direction == row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    } @else if $direction == column {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    } @else if $direction == row-reverse {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    } @else if $direction == column-reverse {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
}
@mixin flexwrap($wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}
@mixin flexjustify($justify) {
    @if $justify == space-between {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    } @else if $justify == flex-start {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    } @else if $justify == flex-end {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    } @else {
        -webkit-box-pack: $justify;
        -webkit-justify-content: $justify;
        -ms-flex-pack: $justify;
        justify-content: $justify;
    }
}
@mixin flexalign($align) {
    @if $align == flex-start {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    } @else if $align == flex-end {
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
    } @else {
        -webkit-box-align: $align;
        -webkit-align-items: $align;
        -ms-flex-align: $align;
        align-items: $align;
    }
}
@mixin flex($direction, $wrap, $justify, $align) {
    @include displayflex;
    @include flexdirection($direction);
    @include flexwrap($wrap);
    @include flexjustify($justify);
    @include flexalign($align);
}
@mixin inlineflex($direction, $wrap, $justify, $align) {
    @include displayinlineflex;
    @include flexdirection($direction);
    @include flexwrap($wrap);
    @include flexjustify($justify);
    @include flexalign($align);
}

//Flex item
@mixin order($value) {
    -webkit-box-ordinal-group: $value + 1;
    -webkit-order: $value;
    -ms-flex-order: $value;
    order: $value;
}
@mixin flexgrow($value) {
    -webkit-box-flex: $value;
    -ms-flex-positive: $value;
    -webkit-flex-grow: $value;
    flex-grow: $value;
}
@mixin flexshrink($value) {
    -webkit-flex-shrink: $value;
    -ms-flex-negative: $value;
    flex-shrink: $value;
}
@mixin flexbasis($value) {
    -webkit-flex-basis: $value;
    -moz-flex-basis: $value;
    -ms-flex-preferred-size: $value;
    flex-basis: $value;
}
@mixin itemflex($value) {
    -webkit-box-flex: $value;
    -moz-box-flex: $value;
    -webkit-flex: $value;
    -ms-flex: $value;
    flex: $value;
}

//Horizontal block
@mixin horizontal {
    font-size: 0;
    line-height: 0;
    letter-spacing: -4px;
    > * {
        display: inline-block;
    }
}

//Ellipsis
@mixin ellipsis($lineHeight, $lines) {
    display: block;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-box;
    @include prefix(box-align, center);
    max-height: 1em * $lineHeight * $lines;
    line-height: $lineHeight !important;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
}